body{
	background:url("foto/фон.jpg") no-repeat;
	background-attachment:fixed;
	background-size:cover;
	background-repeat: no-repeat;
}
.container{
	position:relative;
	width: 940px;
	margin:0 auto;
	float: center; 
}
.shapka{
	position:relative;
	width:940px;
	height:240px;
	margin:0 auto; 
	float:center;
	background: url("foto/rds.png") no-repeat;
	background-position: 50% -33%;
}
a{
	color:black;
}
.menu>li{
    margin-bottom:-1px;
    background:black;
    opacity:0.8;  
    
}
.menu a{
	 display:block;
    padding:8px 14px;
    color:magenta;
    text-decoration:none;
    border-bottom: 1px solid black;
}
.menu a:hover{
    background:black;
    opacity: 0.5;

}
.menu{
	position:absolute; 
	list-style:none;
	width: 125px; 
	border:1px solid black;
	padding-left:0;
	-webkit-transition:top 1s ease-out 0.5s;
    -ms-transition:top 1s ease-out 0.5s;
    -o-transition:top 1s ease-out 0.5s;
    -moz-transition:top 1s ease-out 0.5s;
    transition:top 1s ease-out 0.5s;
    top: 426px;

}
.text{
	background:rgba(0,0,0,1); 
	position:relative; 
	width:810px;
	float:right;
	border:1px solid black;
	top: 2px;
	opacity: 0.9;
}
h2{
	text-align:center; 
	color:orange;
	
}
.historydrift{
	width:809px;
	height:400px;

}
hr{
	color:white;
	border:2px solid white;
}
p{
	color:orange;
}
.video{
 margin:0 auto;
 width:410px; 
}
h3{
	text-align:left; 
	color:orange;
}
.footer{
	width: 339px;
	position:relative;
	margin:0 auto;
	padding:15px; 
	top: 25px;
	left:55px;
}
.texnikadrift{
	position:relative; 
	 width:400px; 
	 height:300px; 
	 float:left; 
	 margin:5px; 
}
.bilet{
	color:orange;
}
@-webkit-keyframes flash {
    0%, 100% {opacity: 1;} 
    50% {opacity: 0;}
   }
   @-moz-keyframes flash {
    0%, 100% {opacity: 1;} 
    50% {opacity: 0;}
   }
   @-o-keyframes flash {
    0%, 100% {opacity: 1;} 
    50% {opacity: 0;}
   }
   @keyframes flash {
    0%, 100% {opacity: 1;} 
    50% {opacity: 0;}
   }
   .shapka{
    -webkit-animation-name: flash;
    -moz-animation-name: flash;
    -o-animation-name: flash;
    animation-name: flash;
    /* Задержка перед началом */
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    /* Продолжительность анимации */
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
